@import '../../styles/partials/colors';

.BottomNav {
  font-size: 0.85rem;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
  background: #ffffff;
  z-index: 999;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    position: relative;
    height: 48px;
    color: #999999;
    margin: 0;
    padding: 0;
    font-size: .8rem;
    &:hover {
      cursor: pointer;
    }
    .active {
      color: $primary-color;
    }
    .text {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
  }
}