.PartyList {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .PartyList {
    &__itemWrapper {
      padding-top: 5px;
      &:nth-of-type(2n+1) {
        padding-right: 5px;
      }
    }
  }
}