@import '../../../styles/partials/colors';

.state-constituency-name {
  &:first-child {
    display: none;
  }
}

@media (min-width: 1200px) {
  .constituency-name {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}