.Layout {
  &__wrapper {
    position: relative;
    padding-bottom: 78px;
  }
}

@media (min-width: 1200px) {
  .Layout {
    &__desktopLogo {
      img {
        display: block;
        margin: 0 auto;
        width: auto;
        height: 52px;
      }
    }
    &__wrapper {
      padding-bottom: 0;
    }
    &__sideNav {
      position: relative;
    }
  }
}