.PartyItem {
  width: 100%;
  height: 75px;
  &__Card {
    display: flex;
    align-items: center;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__Description {
    margin-left: 8px;
    .name {
      margin-bottom: 5px;
    }
  }
}

.constituency {
  font-size: 0.9rem;
  color: rgba($color: #000000, $alpha: 0.5);
}