.CandidateHeader {
  height: 54px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__buttonGroup {
    i {
      color: #0071dd;
    }
  }
  &__button {
    &:first-child {
      margin-right: 5px;
    }
  }
}