@import '../../styles/partials/colors';

.Navigation {
  font-size: 0.85rem;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
  background: #ffffff;
  z-index: 100;
  &__mVoterLogo {
    display: none;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    position: relative;
    width: 100%;
    height: 48px;
    color: #999999;
    margin: 0;
    padding: 0;
    font-size: .8rem;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
    .active {
      color: $primary-color;
    }
    .text {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  %linkDivRules {
    width: 100%;
    display: flex;
    height: auto;
    svg {
      width: 30px;
    }
  }
  .Navigation {
    width: 255px;
    display: flex;
    align-content: center;
    margin: 0 auto;
    height: 100%;
    border-top: none;
    padding-top: 2px;
    left: unset;
    &__mVoterLogo {
      display: block;
      img {
        display: block;
        margin: 0 auto;
        width: auto;
        height: 64px;
      }
    }
    ul {
      display: inline-block;
      // position: fixed;
      margin: 0 auto;
    }
    li {
      width: 180px;
      text-align: left;
      display: flex;
      align-items: center;
      transition: color 0.2s linear;
      div.active {
        width: 100%;
        display: flex;
        padding: 10px;
        height: auto;
        background-color: $primary-color;
        border-radius: 5px;
        svg {
          g {
            fill: #ffffff;
          }
        }
      }
      span.active {
        color: #ffffff;
      }
      > div {
        @extend %linkDivRules;
      }
      div.inactive {
        width: 100%;
        display: flex;
        padding: 10px;
        &:hover {
          color: rgba($color: $primary-color, $alpha: 0.85);
          g {
            fill: rgba($color: $primary-color, $alpha: 0.85);
          }
        }
      }
      .text {
        position: relative;
        display: inline-block;
        font-size: 1rem;
      }
    }
  }
}