.TabPanel {
  position: relative;
  padding: 10px 0;
  // border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  // box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.1);
  &__Tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .tab-active {
    color: #0071dd;
  }
}