@import '../../../styles/partials/colors';

.slider {
  position: absolute;
  height: 3px;
  padding-top: 4px;
  border-radius: 10px;
  background: $primary-color;
  transition: all 0.25s ease-in-out;
}