@import '../../styles/partials/colors';

.loader {
  color: $primary-color;
  margin-top: 5px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}

.location-collapse-township {
  padding: 5px 15px;
  margin: 5px 0;
}

.Collapsible {
  margin: 12px 0;
}

.Collapsible__trigger {
  font-weight: 500;
  color: $primary-color;
}