@import '../../../styles/partials/fontsizes';
@import '../../../styles/partials/colors';

.Article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  h1 {
    line-height: 28px;
  }
  &__heading {
    font-weight: 700;
    font-size: $medium;
  }
  &__date {
    color: $grey-color;
  }
  &__newsGroup {
    margin-right: 10px;
  }
  &__summary {
    margin-bottom: 5px;
  }
  &__UECLogo {
    >img {
      width: auto;
      height: 65px;
    }
  }
}

.article-link {
  text-decoration: none;
  color: inherit;
}
