@import '../../styles/partials/extends';
@import '../../styles/partials/colors';

$ballot-stack-height: 110px;

#FAQS {
  line-height: 25px;
}

.ballot-stack, .unfair-law {
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  cursor: pointer;
}

.unfair-law {
  display: flex;
  align-items: center;
  &-text {
    margin-left: 10px;
  }
}

.ballot-stack-picture {
  display: block;
  margin: 0 auto;
  height: $ballot-stack-height;
}

.prohibitions {
  // margin-bottom: 10px;
}

.prohibition {
  img {
    width: 100%;
    height: auto;
  }
  div {
    margin-top: 3px;
    text-align: center;
    font-size: 0.85rem;
  }
}

.category-select {
  width: 100%;
  background: transparent;
  // position: relative;
  // -webkit-appearance: none;
  // -moz-appearance: none;
}

.FAQS {
  @extend %mobile-vert-rules;
}

@media (min-width: 1200px) {
  .ballot-stack {
    margin-bottom: 0;
  }
  .unfair-law {
    &-text {
      margin-left: 5px;
    }
  }
}