.CandidateList {
  &__item {
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    &:first-child {
      margin-top: 3px;
    }

  }
  &__avatar {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #b6b6b6;
  }
  &__info {
    margin-left: 8px;
    .name {
      font-weight: 700;
    }
  }
}