.CandidateList {
  &__item {
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    &:first-child {
      margin-top: 3px;
    }

  }
  &__avatar {
    flex: none;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #b6b6b6;
  }
  &__info {
    margin-left: 8px;
    .name {
      font-weight: 700;
    }
  }
  &__party {
    margin-top: 5px;
    .flag {
      width: 30px;
      height: auto;
    }
  }
}