.CandidateList {
  &__item {
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 12px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
  }
  &__avatar {
    flex: none;
    width: 85px;
    height: 85px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #b6b6b6;
  }
  &__info {
    max-width: 62.5%;
    margin-left: 8px;
    .name {
      font-weight: 700;
    }
  }
  &__party {
    margin-top: 5px;
  }
  &__partyFlag {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 45px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .CandidateList {
    &__itemWrapper {
      padding-top: 5px;
      &:nth-of-type(2n+1) {
        padding-right: 5px;
      }
    }
    &__item {
      min-height: 102px;
      margin-bottom: 0px;
      padding: 10px;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      cursor: pointer;
    }
    &__info {
      max-width: 230px;
      margin-left: 16px;
    }
  }
}