@import '../../styles/partials/colors';

.About {
  h1, p {
    margin: 0;
  }
  p {
    line-height: 1.5rem;
  }
  .mVoterLogo {
    width: auto;
    height: 150px;
  }
  .PopStack {
    width: 150px;
    height: auto;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    width: 100%;
    height: auto;
  }
  img.large-logo {
    width: 100%;
    height: auto;
  }
  .suggestive-links {
    margin-top: 10px;
    margin-bottom: 5px;
    i {
      display: inline-block;
      margin-left: 8px;
      margin-right: 8px;
      padding: 8px;
      font-size: 1.35rem;
      color: white;
      background-color: $primary-color;
      border-radius: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .About {
    max-width: 85%;
    .PopStack {
      width: auto;
      height: 180px;
    }
    img.large-logo {
      width: auto;
      height: 170px;
    }
    img.step-logo {
      height: 130px;
    }
    img.eu-logo {
      height: 120px;
    }
  }
}