@import '../../styles/partials/colors';
@import '../../styles/partials/extends';

.HowToVote {
  @extend %mobile-vert-rules;
  &__announcement {
    padding: 15px;
    border-radius: 12px;
    background-color: rgba($color: $primary-color, $alpha: 0.25);
    .title, .date, .day {
      display: inline-block;
    }
    .title {
      font-weight: 700;
      margin-bottom: 14px;
    }
    .date {
      font-weight: 700;
      color: $primary-color;
      font-size: 1.4rem;
    }
    .day {
      color: $grey-color;
      font-size: 1.1rem;
      margin-bottom: 12px;
    }
  }
  &__votingTime {
    display: flex;
    justify-content: center;
    .opening-time, .closing-time {
      margin: 5px 10px;
      .pre {
        line-height: 28px;
        font-size: 0.8rem;
        font-weight: 700;
      }
    }
  }
  .instruction-list {
    position: relative;
    // &::after {
    //   content: '';
    //   display: inline-block;
    //   position: absolute;
    //   top: 0;
    //   left: 10px;
    //   width: 2px;
    //   height: 100%;
    //   background-color: $primary-color;
    // }
  }
  .title {
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 3px;
  }
  .instruction {
    padding-left: 30px;
    position: relative;
    line-height: 28px;
    margin: 5px 0;
    &:last-child::before {
      content: '';
      display: none;
    }
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 20px;
      left: 10px;
      width: 2px;
      height: 100%;
      background-color: $primary-color;
    }
    &::after {
      content: '';
      display: inline-block;

      position: absolute;
      border-radius: 100%;
      top: 9px;
      left: 5px;
      width: 12px;
      height: 12px;
      background-color: $primary-color;
    }
  }
}