@import '../../styles/partials/colors';

.locationSelector {
  // display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0px 10px 5px;
  text-align: center;
  border: 0;
  background: none;
  &:active {
    color: $primary-color;
  }
  &:disabled {
    color: rgba($color: #000000, $alpha: 0.25);
  }
  span {
    margin-right: 4px;
    font-weight: 700;
    font-size: 1.3rem;
  }
  svg {
    float: right;
  }
}

.people-icon {
  margin-bottom: 8px;
  >svg {
    width: 135px;
    height: 78px;
  }
}

.Location {
  height: 100vh;
  &__wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__done {
    margin-top: 30px;
    border: 0;
    background-color: $primary-color;
    color: $white-color;
    border-radius: 25px;
    padding: 5px 50px;
    vertical-align: middle;
    &:disabled {
      pointer-events: none;
      background-color: rgba($color: #000000, $alpha: 0.25);
    }
    i {
      margin-top: 3px;
    }
  }
}
