@import '../../styles/partials/colors';
@import '../../styles/partials/extends';

.locationSelector {
  // display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0px 10px 5px;
  text-align: center;
  border: 0;
  background: none;
  &:disabled {
    span {
      color: rgba($color: #000000, $alpha: 0.25) !important;
    }
  }
  span {
    color: $primary-color;
    margin-right: 4px;
    font-weight: 700;
    font-size: 1.3rem;
  }
  svg {
    float: right;
  }
}

.people-icon {
  margin-bottom: 8px;
  >svg {
    width: 135px;
    height: 78px;
  }
}

.Location {
  height: calc(100vh - 180px);
  &__wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__done {
    margin-top: 30px;
    border: 0;
    background-color: $primary-color;
    color: $white-color;
    border-radius: 25px;
    padding: 5px 50px;
    vertical-align: middle;
    transition: all 0.2s linear;
    &:hover, &:active {
      @extend %button-hover;
    }
    &:disabled {
      cursor: not-allowed !important;
      background-color: rgba($color: #000000, $alpha: 0.25);
    }
    i {
      margin-top: 3px;
    }
  }
}
