@import '../../styles/partials/colors';

.locationSelector {
  // display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0px 10px 5px;
  text-align: center;
  border: 0;
  background: none;
  &:active {
    color: $primary-color;
  }
  span {
    margin-right: 4px;
    font-weight: 700;
    font-size: 1.3rem;
  }
  svg {
    float: right;
  }
}

.people-icon {
  margin-bottom: 8px;
  >svg {
    width: 135px;
    height: 78px;
  }
}

.Location {
  height: 100vh;
  &__wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.Button__ChooseLocation {
  margin-top: 100px;
  background-color: $primary-color;
  color: $white-color;
  border-radius: 5px;
  padding: 10px 50px;
}
