.ReactModal__Overlay {
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.vert-flex-center {
  display: flex;
  align-items: center;
}

.text-bold {
  font-weight: 700;
}

p {
  line-height: 30px;
}

.cursor-pointer {
  cursor: pointer;
}
