@import '../styles/partials/colors';

.ReactModal__Overlay {
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.vert-flex-center {
  display: flex;
  align-items: center;
}

.text-bold {
  font-weight: 700;
}

p {
  line-height: 26px;
}

.cursor-pointer {
  cursor: pointer;
}

.color-primary {
  color: $primary-color;
  * {
    color: $primary-color;
  }
}

a, select {
  cursor: pointer;
}

.box-hover {
  transition: all 0.2s linear;
  &:hover, &:active {
    box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: 0.2);
  }
}
